body {
  background-color: #1289EF;
}

#description{
  border: 5px solid;
  border-color: #ff7C00;
  text-align: center;
  font-family: "helvetiva";
}


#description2 {
  color: black;
  border: 5px solid;
  border-color: #ff7C00;
  margin: 2em;
  padding: 1em;
}

#description3 {
  color: black;
  border: 5px solid;
  border-color: #ff7C00;
    margin: 2em;
    padding: 1em;
    
}

#description4 {
  color: black;
  border: 5px solid;
  border-color: #ff7C00;
  margin: 2em;
  padding: 1em;
}
#description5 {
  color: black;
  border: 5px solid;
  border-color: #ff7C00;
  margin: 2em;
  padding: 1em;
}
#description6 {
  color: black;
  border: 5px solid;
  border-color: #ff7C00;
  margin: 2em;
  padding: 1em;

a {
    color: black;
}

a:hover {
    color: #ff7C00;
}

p {
  font-size: 30px;
  text-align: center;
  
}

img {
    width: 200px;
    height: 150px;
    
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}
