body {
  background-color: #1289EF;
}

h1 {
  border: 5px solid;
  border-color: #ff7C00;
  margin: 1em; 
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; 
  font-size: 20px; 
  display: flex; 
  justify-content: space-around;
  width: 10em;
  height: 1em;
  text-align: center;
  
}

h2 {
  color: black;
  border: 5px solid;
  border-color: #ff7C00;
  margin: 1em; 
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
   display: flex;
    justify-content: space-around;
  border
}
a {
    color: black;
}
a:hover {
    color: #ff7C00;
}

li {
  border:.5em solid;
  margin:1em;
  padding-left:1em;
  padding-top:1em;
  padding-bottom:1em;
}
